.banner {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT81uvnny2BviGC0y438aX1Kbpqwb2HjYOeQg&usqp=CAU");
    box-shadow: inset 0 0 0 2000px rgba(8, 0, 5, 0.829);
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
  }
  
  .banner-content {
    max-width: 600px;
    width: 100%;
    text-align: left;
    margin-left: 4.2rem;
  }
  
  .banner-title {
    font-size: 36px;
    background-image: linear-gradient(to right, #ff0000, #ff00bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    
  }
  
  .banner-text {
    font-size: 24px;
    background-image: linear-gradient(to right, #ff0000, #ffff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
  }
  
  .banner-buttons {
    display: flex;
    align-items: flex-start;
  }
  
  .banner-button {
    background-color: transparent;
    
    background-image: linear-gradient(to right, #ff0000, #ffff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-color: white;
    padding: 10px 20px;
    margin-right: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 1rem;
  }
  
  .banner-button:hover {
    background-image: linear-gradient(to right, #7bff00, #0077ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image: linear-gradient(to right, #FFC300, #FFC300, #FFC300) ;
    border-image-slice: 1;
border-radius: 1rem;
padding: 10px 20px;
color: #fff;
background-color: transparent;
transition: all 0.3s ease-in-out;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: bold;
  }
  
  .banner-image-container {
    width: 400px;
    height: 400px;
   
    margin-bottom: 8rem;
    margin-right: 7rem;
    perspective: 1000px;
    transform-style: preserve-3d;
    animation: up-down-image 3sec ease-in-out infinite;
  }
  
  .banner-image {
    width: 100%;
    height: 100%;
    box-shadow: rgb(230, 227, 227) 0px 2px 8px 0px;
    transform: rotateY(20deg);

  }
  
  @keyframes rotate-image {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  .vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
