
.Mian{
    margin: 2rem;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/159/328/872/chicago-night-lights-wallpaper-preview.jpg");

}
.appbody{
    background-color: rgb(15, 15, 15);
}


